@import url("reset.css");

body{
	font-family: Helvetica, Arial, Sans-Serif;
}
a{
	color: #3B77B3;
	text-decoration: none;
}
a:hover, a:focus{
	color: #17426E;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
html, body{
	width: 100%;
	height: 100%;
}
	#wrapper{
		position: relative;
		width: 100%;
	}
		#wrapper .body{
			width: 100%;
			position: relative;
			top: 5.18em;
			z-index: 200;
		}
		#wrapper .body.fixed{
			position: fixed;
		}
		#wrapper section{
			width: 100%;
			position: relative;
		}
		#wrapper section.navigation{
			background: white;
			position: fixed;
			top: 0;
			z-index: 1200;
		}
			.sec-wrap{
				max-width: 1500px;
				width: 100%;
				min-height: 15em;
				display: block;
				margin: 0 auto;
			}
			.navigation .sec-wrap{
				overflow: auto;
				min-height: 2em;
				height: 100%;
			}
				.main-logo{
					width: 20%;
					padding: 2% 5% 0;
					float: left;
				}
				.social-nav{
					width: 60%;
					height: auto;
					padding: 1% 5% 0;
					float: right;
					position: relative;
					display: block;
				}
					.social-nav nav{
						width: 50%;
						position: absolute;
						left: 13%;
						z-index: 1000;
					}
					.social-nav .date-time{
						width: 30%;
						position: absolute;
						left: 20%;
						z-index: 800;
						-webkit-transition: all 0.8s;
						-moz-transition: all 0.8s;
						-o-transition: all 0.8s;
						transition: all 0.8s;
					}
						.social-nav:hover .date-time{
							left: 63%;
						}
				.main-nav{
					width: 90%;
					padding: 0 5% 2.5em;
					clear: both;
				}
					.main-nav nav{
						width: 70%;
						float: right;
					}
		.body section{
			height: 100%;
		}
		.events{
			background: white;
		}
			.events .sec-wrap{
				overflow-x: hidden;
				position: relative;
				height: 100%;
			}
			.events .sec-wrap.fix{
				position: fixed;
			}
				.happening{
					padding: 15% 0 15% 13%;
					width: 16%;
					float: left;
					position: relative;
					z-index: 600;
				}
				.event{
					width: 55%;
					height: auto;
					padding: 15% 5% 15% 0;
					position: absolute;
					background: white;
				}
					.event .ev-time{
						max-height: 2.5em;
						margin-bottom: 1.5em;
					}
					.event .ev-title{
						margin-bottom: 1em;
					}
					.event .ev-link{
						max-height: 2.5em;
					}
				.ev-1{
					left: 36%;
					z-index: 250;
				}
				.ev-2{
					left: 100%;
					z-index: 300;
				}
				.ev-3{
					left: 164%;
					z-index: 350;
					padding-right: 8%;
				}	
			.quote .sec-wrap{
				overflow: hidden;
				position: relative;
				height: 100%;
			}
				.rip.rip-1{
					width: 100%;
					height: 280px;
					background: url('../images/rip-pink.png') center bottom no-repeat;
					position: absolute;
					z-index: 600;
					top: 0;
				}
				.rip.rip-2{
					width: 100%;
					height: 280px;
					background: url('../images/rip-blue.png') center bottom no-repeat;
					position: absolute;
					z-index: 500;
					top: -100px;
				}
				.rip.rip-3{
					width: 100%;
					height: 460px;
					background: url('../images/rip-black.png') right bottom no-repeat;
					position: relative;
					z-index: 300;
				}
				.qu-pad{
					width: 100%;
					height: 260px;
					position: relative;
					z-index: 300;
					background: #1a1a1a;
				}
				.qu-cont{
					width: 90%;
					padding: 0 5% 0 13%;
					position: absolute;
					z-index: 400;
				}
					.qu-text{
						width: 70%;
						padding-top: 60px;
					}
				
			.downloads .sec-wrap{
				overflow: auto;
				position: relative;
				background: url('../images/library-ext.jpg') center;
				background-size: 100%;
				height: 100%;
			}
				.dl-cont{
					width: 40%;
					line-height: 160%;
					position: relative;
					left: 13%;
					top: 25%;
					z-index: 250;
					color: white;
				}
				.dl-img{
					width: 30%;
					position: absolute;
					z-index: 240;
					color: white;
					top: 18%;
					right: 10%;
				}
					
				.dl-bg{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: 200;
					background: rgba(11,19,31,0.98);
					zoom: 1;
					filter: alpha(opacity=0);
					opacity: 0;
				}
			.kids .sec-wrap{
				overflow: hidden;
				position: relative;
				background-color: #E8DF80;
				background-image: -webkit-gradient(linear, left top, left bottom, from(#E8DF80), to(#FAF191));
			  	background-image: -webkit-linear-gradient(top, #E8DF80, #FAF191);
				background-image:    -moz-linear-gradient(top, #E8DF80, #FAF191);
				background-image:      -o-linear-gradient(top, #E8DF80, #FAF191);
				background-image:         linear-gradient(to bottom, #E8DF80, #FAF191);
			}
				.kd-cont{
					width: 90%;
					height: 100%;
					padding: 8em 5%;
					line-height: 160%;
					position: relative;
					z-index: 200;
				}
					.kd-title{
						font-size: 140%;
					}
					.kd-title, .kd-intro, .kd-link{
						position: relative;
						z-index: 350;
					}
					.kd-shape-1, .kd-shape-2, .kd-shape-3{
						display: block;
						border: solid 1px #5C0B0B;
						position: absolute;
						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						border-radius: 50%;
						-webkit-background-clip: padding-box; 
						-moz-background-clip:    padding; 
						background-clip:         padding-box;
					}
					.kd-shape-1{
						z-index: 200;
						/*background: #941E1E;*/
						background: rgba(148,30,30,0.9);
						width: 8em;
						height: 8em;
						right: 9%;
						top: 85%;
					}
					.kd-shape-2{
						z-index: 300;
						/*background: #C42929;*/
						background: rgba(196,41,41,0.8);
						width: 12em;
						height: 12em;
						right: 12%;
						top: 105%;
					}
					.kd-shape-3{
						z-index: 400;
						/*background: #F23030;*/
						background: rgba(242,48,48,0.7);
						width: 16em;
						height: 16em;
						right: -5%;
						top: 120%;
					}
			.teens .sec-wrap{
				overflow: hidden;
				position: relative;
				background-color: #277348;
				background-image: -webkit-gradient(linear, left top, left bottom, from(#277348), to(#09290e));
			  	background-image: -webkit-linear-gradient(top, #277348, #09290e);
				background-image:    -moz-linear-gradient(top, #277348, #09290e);
				background-image:      -o-linear-gradient(top, #277348, #09290e);
				background-image:         linear-gradient(to bottom, #277348, #09290e);
			}
				.tn-cont{
					width: 90%;
					height: 100%;
					padding: 8em 5%;
					line-height: 160%;
					position: relative;
					z-index: 200;
					color: white;
				}
					.tn-title, .tn-intro, .tn-link{
						position: relative;
						z-index: 350;
					}
					.tn-shape-1, .tn-shape-2, .tn-shape-3{
						display: block;
						border: solid 1px #4F4011;
						position: absolute;
						-webkit-border-radius: 20%;
						-moz-border-radius: 20%;
						border-radius: 20%;
						-webkit-background-clip: padding-box; 
						-moz-background-clip:    padding; 
						background-clip:         padding-box;
					}
					.tn-shape-1{
						z-index: 200;
						/*background: #941E1E;*/
						background: rgba(122,100,24,0.9);
						width: 8em;
						height: 8em;
						right: 9%;
						top: 110%;
						transform: rotate(5deg);
						-ms-transform: rotate(5deg);
						-webkit-transform: rotate(5deg);
					}
					.tn-shape-2{
						z-index: 300;
						/*background: #C42929;*/
						background: rgba(181,146,31,0.8);
						width: 12em;
						height: 12em;
						right: 12%;
						top: 140%;
						transform: rotate(12deg);
						-ms-transform: rotate(12deg);
						-webkit-transform: rotate(12deg);
					}
					.tn-shape-3{
						z-index: 400;
						/*background: #F23030;*/
						background: rgba(222,181,49,0.7);
						width: 16em;
						height: 16em;
						right: -5%;
						top: 160%;
						transform: rotate(20deg);
						-ms-transform: rotate(20deg);
						-webkit-transform: rotate(20deg);
					}








