@import url("reset.css");

body{
	font-family: Helvetica, Arial, Sans-Serif;
}
a{
	color: #3B77B3;
	text-decoration: none;
}
a:hover, a:focus{
	color: #17426E;
}
html, body, #wrapper{
	width: 100%;
	height: 100%;
	display: block;
}
	#wrapper{
		position: relative;
	}
		#wrapper section{
			width: 100%;
			height: auto;
			position: relative;
		}
		#wrapper section.fix{
			position: fixed;
		}
		#wrapper section:nth-child(odd){
			background: #EDEDED;
		}
		#wrapper section:nth-child(even){
			background: #DEDEDE;
		}
		#wrapper section.navigation{
			background: white;
		}
			.sec-wrap{
				width: 60em;
				min-height: 15em;
				display: block;
				margin: 0 auto;
				border-right: dashed 1px #9C9C9C;
				border-left: dashed 1px #9C9C9C;
			}
			.navigation .sec-wrap{
				overflow: auto;
				min-height: 6em;
			}
				.main-logo{
					width: 20%;
					padding: 3em 5%;
					float: left;
				}
					.main-logo .logo{
						text-align: center;
						font-size: 120%;
					}
				.main-nav{
					width: 60%;
					padding: 3.1em 5%;
					float: right;
				}
					.main-nav nav, .main-nav ul{
						width: 100%;
						height: auto;
						float: left;
					}
						.main-nav .nav-item{
							font-size: 80%;
							width: 15%;
							padding: 0 2.5%;
							text-align: center;
							float: left;
						}
			.events .sec-wrap{
				/*overflow-x: hidden;*/
				position: relative;
				height: 15em;
			}
				.event{
					width: 90%;
					height: 9em;
					padding: 3em 5%;
					position: absolute;
					top: 0;
				}
				.ev-1{
					left: 0;
					background: #BDDEFF;
				}
				.ev-2{
					left: 100%;
					background: #91BFED;
				}
				.ev-3{
					left: 200%;
					background: #69A2DB;
				}	
					.ev-wrap{
						width: 100%;
						height: auto;
						line-height: 160%;
					}
						.ev-title{
							font-size: 150%;
							margin-bottom: 1em;
						}
						.ev-date{
							font-size: 80%;
							margin-bottom: 1em;
						}